@page
@inject IViewLocalizer Localizer

@{
    @* IDictionary<string, string> buildQueryStringDict() {
		var queryStringDict = Context.Request.Query.ToDictionary(x => x.Key, x => x.Value.ToString());
		return queryStringDict;
	} *@

    ViewData["Title"] = "Catalog";
    @model IndexModel
}
@{
    var href = $"/reports/pdf/catalog{HttpContext.Request.QueryString.ToString()}";
}

<P>@Localizer["Hello"]</P>
<section class="esh-catalog-hero">
    <div class="container">
        <img class="esh-catalog-title" src="~/images/main_banner_text.png" />
    </div>
</section>
<section class="esh-catalog-filters">
    <partial name="_catalogPageFilters" for="@Model"/>
</section>
<div class="container">

    @if (Model.CatalogModel.CatalogItems.Any())
    {


        @* <partial name="_pagination" for="CatalogModel.PaginationInfo" /> *@
        @await Html.PartialAsync("_pagination", Model.CatalogModel.PaginationInfo);
        @* <a href="/pdf/" target="_blank"><img src="images/document/icon_pdf_64.png"></a> *@
        <a href="@href" target="_blank"><img src="images/document/icon_pdf_64.png"></a>

        if(Model.CatalogPageModel.ViewMode == ViewsModes.Table){
            <partial name="DisplayItems/_displayTable" for="CatalogModel.CatalogItems"/>
        }
        else if(Model.CatalogPageModel.ViewMode == ViewsModes.List){
            Func<dynamic, object> listTemplate = @<partial name="DisplayItems/_productList" for="@item"/>;
            var listItemViewModel = new SampleItemViewModel(){
                Items = Model.CatalogModel.CatalogItems,
                Template = listTemplate,
                Ordered = false,
                ListClass = "ListClass",
                ListItemClass = "ListItemClass"
            };
            <partial name="DisplayItems/_displayList" for="@listItemViewModel"/>
        }
        else{
            Func<dynamic, object> listTemplate = @<partial name="DisplayItems/_product" for="@item"/>;
            var listItemViewModel = new SampleItemViewModel(){
                Items = Model.CatalogModel.CatalogItems,
                Template = listTemplate,
                ListClass = "esh-catalog-items row",
                ListItemClass = "esh-catalog-item col-md-4"
            };
            <partial name="DisplayItems/_displayGallery" for="@listItemViewModel"/>
        }


        <partial name="_pagination" for="CatalogModel.PaginationInfo" />
    }
    else
    {
        <div class="esh-catalog-items row">
            THERE ARE NO RESULTS THAT MATCH YOUR SEARCH
        </div>
    }
</div>