@model SampleItemViewModel

@if(Model.Ordered){
	<ol class="@Model.ListClass">
		@foreach (var catalogItem in Model.Items)
		{
			<li class="@Model.ListItemClass">
				@* <partial name="DisplayItems/_product" for="@catalogItem" /> *@
				@Model.Template(catalogItem)
			</li>
		}
	</ol>
}
else{
	<ul class="@Model.ListClass">
		@foreach (var catalogItem in Model.Items)
		{
			<li class="@Model.ListItemClass">
				@* <partial name="DisplayItems/_product" for="@catalogItem" /> *@
				@Model.Template(catalogItem)
			</li>
		}
	</ul>
}