@model IEnumerable<CatalogItemViewModel>

<Table>
	<thead>
		<th></th>
		<th>Name</th>
		<th>Price</th>
		<th>Action</th>
	</thead>
	@foreach (var catalogItem in Model)
	{
		<tr>
			<td><img class="esh-catalog-thumbnail" src="@catalogItem.PictureUri" style="width: 270px;"/></td>
			<td class="esh-catalog-name">@catalogItem.Name</td>
			@if(catalogItem.ShowPrice)
			{
				<td class="esh-catalog-price">
					@catalogItem.Price.ToString("N2")
					<span class="product-price-unit">@catalogItem.PriceSymbol</span>
				</td>
			}
			else{
				<td class="esh-catalog-price">Sob-Consulta</td>
			}
			<td>
				@if(catalogItem.ShowPrice){
					<form asp-page="/Basket/Index" method="post">
						<input class="esh-catalog-button-expanded" type="submit" value="[ ADD TO BASKET ]" />
						<input type="hidden" asp-for="@catalogItem.Id" name="id" />
						<input type="hidden" asp-for="@catalogItem.Name" name="name" />
						<input type="hidden" asp-for="@catalogItem.PictureUri" name="pictureUri" />
						<input type="hidden" asp-for="@catalogItem.Price" name="price" />
					</form>
				}
			</td>
		</tr>
	}
</table>