@model CatalogItemViewModel

@{
    var mid = $"storeAvailabilityModal{Model.Id}";
    var tm = $"#{mid}";
    var contentAvailability = $"StoreAvailabilityBody_{Model.Id}";
    var url = $"/Store/Availability?CatalogItemId={Model.Id}";
}

<form asp-page="/Basket/Index" method="post">
    <a class="btn" data-toggle="modal" data-target="@tm" onclick="showStoreItemAvailability('@url', '@contentAvailability')">
        <img class="esh-catalog-thumbnail" src="@Model.PictureUri" />
    </a>
    @if(Model.ShowPrice){
        <input class="esh-catalog-button" type="submit" value="[ Adicionar ao Cesto ]" />
    }
    <div class="esh-catalog-name">
        <span>@Model.Name</span>
    </div>
    <div class="esh-catalog-price">
        @if(Model.ShowPrice)
        {
            <span class="product-price">@Model.Price.ToString("N2")</span>
            <span class="product-price-unit">@Model.PriceSymbol</span>
            <input type="hidden" asp-for="@Model.Id" name="id" />
            <input type="hidden" asp-for="@Model.Name" name="name" />
            <input type="hidden" asp-for="@Model.PictureUri" name="pictureUri" />
            <input type="hidden" asp-for="@Model.Price" name="price" />
        }
        else{
            <span>"Sob Consulta"</span>
        }
    </div>
</form>
@if(User.Identity.IsAuthenticated && Model.ShowPrice) 
{
    <form asp-page="/WishList/Index" method="post">
        <input type="image" src="~/images/wish_64.png" style="width:34px;position:relative;top:-34px;right:-142px;"/>
        <input type="hidden" asp-for="@Model.Id" name="id" />
        <input type="hidden" asp-for="@Model.Name" name="name" />
        <input type="hidden" asp-for="@Model.PictureUri" name="pictureUri" />
        <input type="hidden" asp-for="@Model.Price" name="price" />
    </form>
}

<div class="modal fade" id="@mid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Item Information</h4>
            </div>
            <div class="modal-body">
                <h3>Store Availability</h3>
                <div id="@contentAvailability"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>