@model CatalogItemViewModel


<div class="row">
    <div class="col-md-4">
        <img class="esh-catalog-thumbnail" src="@Model.PictureUri" style="width: 220px;">
    </div>
    <div class="col-md-6">
        <div class="esh-catalog-name">
            <span>@Model.Name</span>
        </div>
        <div class="esh-catalog-price">
            @if(Model.ShowPrice)
            {
                <span class="product-price">@Model.Price.ToString("N2")</span>
                <span class="product-price-unit">@Model.PriceSymbol</span>
            }
            else{
                <span>"Sob-Consulta"</span>
            }
        </div>        
    </div>
    <div class="col-md-2">
        @if(Model.ShowPrice){
            <form asp-page="/Basket/Index" method="post">
                <input class="esh-catalog-button-expanded" type="submit" value="[ ADD TO BASKET ]" />
                <input type="hidden" asp-for="@Model.Id" name="id" />
                <input type="hidden" asp-for="@Model.Name" name="name" />
                <input type="hidden" asp-for="@Model.PictureUri" name="pictureUri" />
                <input type="hidden" asp-for="@Model.Price" name="price" />
            </form>
        }
    </div>
</div>
